@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Volkhov&display=swap');


/* CORPO DO SITE */

body, html {
    
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
    overflow-x: hidden;
}



/********************************/


/* CONTEUDO PRINCIPAL DO HEADER */


    .header-topo {
        
        width: 100%;
        background-color: #063e73;
        overflow: hidden;
        padding-top: 23px;
        padding-bottom: 23px;
    }


    .img-logo {
        display: block;
        width: 209px;
        margin: auto;
    }

    /* RESPONSIVE - LOGO */

    .header-titulos {

        width: 100%;
        height: 840px;
        background: url('../img/fundo.png') bottom center repeat-x;
        background-size: cover;
        overflow-x: hidden;
    }


/* design responsive */
@media screen and (max-width: 950px){
    
    .header-topo {
        
        width: 100%;
        background-color: #063e73;
        overflow: hidden;
    }

    .img-logo {
        
        margin: 0 auto;
        display: block;
        width: 160px;

    }

    .header-titulos {
        
        width: 100%;
        height: auto;
        overflow: hidden;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;

    }
}

/* end design responsive */











/********************/


/* CSS PARA O HEADER TITULO CENTRAL */

    #centro {
        font-family: 'Volkhov', serif;
        margin: auto;
        width: 860px;
        text-align: center;
        padding-top: 250px;
        padding-bottom: 250px;
    }



    #centro h5 {
        color: #9999;
        font-size: 18px;
        padding-bottom: 9px;
        font-weight: bold;
    }



    #centro h1 {
        color: #f1f1f1;
        padding-bottom: 40px;
        font-size: 45px;
        font-weight: bold;
    }

    #centro h2 {

        color: #9999;
        font-weight: bold;
        font-size: 24px;
    }


/****************************************/


@media screen and (max-width: 950px) {
    
    #centro {
        
        width: 100%;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    #centro h5 {
        
        font-size: 15px;
        padding-bottom: 9px;

    }

    #centro h1 {
        
        padding-bottom: 40px;
        font-size: 24px;
    }

    #centro h2 {
  
        font-size: 18px;
    }
}



/***********************************/


/* HEADER - HORARIO - AUTOR - COMPARTILHAR E DATA */

@media screen and (min-width: 951px){
    
     .info-post {
        
        margin: auto;
        width: 620px;
        overflow-x: hidden;
    }
}
   
@media screen and (max-width: 950px){
    
    .info-post {
        
        margin: 0;
        height: auto;
    }
    
    .data-postagem {

        margin-top: -14px;
    }

    .autor-post {

        margin-top: 5px; 
        padding-bottom: 5px;
    }

    .horario-da-postagem p {
        height: auto;
        float: right;
        margin-top: 5px;
        margin-right: 0px;

    }

    .horario-da-postagem img {
        
        float: left;
        margin-left: 7px;
        margin-right: 0;
    }



    .info-post ul li.linha-data-autor-horario p {
        
        margin-left: 20px;
        margin-right: 20px;
        box-sizing: border-box;
    }

    .info-post ul li.linha-data-autor-horario img {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 10px;
    }
    
}


@media screen and (min-width: 951px){


    .info-post ul {
        
        overflow-x: hidden;
        border-bottom: 1px solid #cacaca;
        border-top: 1px solid #cacaca;
    }
    
}

@media screen and (max-width: 950px){
    
    
    .info-post ul {
        
        overflow-x: hidden;
        border-top: 1px solid #cacaca;
        padding-bottom: 40px;
    }

}

@media screen and (min-width: 951px){
    

    .info-post ul li {
        
        display: inline-block;
        list-style-type: none;
        font-family: 'Open Sans', sans-serif;
        color: #ffff;
        line-height: 20px;
        padding-bottom: 5px;
        font-size: 14px;
        float: left;
        padding: 20px 20px 20px 0;
        margin-right: 20px;
    }
    
    .info-post ul li div.fb-like {
        
        width: 70px;
        display: inline-block;
        float: left;
        margin-right: 0px;
        margin-top: 65px;
        overflow: hidden;
        
    }
}

@media screen and (max-width: 950px){
    
    .info-post ul li {
        
        height: auto;
        display: inline-block;
        float: left;
        list-style-type: none;
        font-family: 'Open Sans', sans-serif;
        color: #ffff;
        font-size: 11px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
}  


@media screen and (min-width: 951px) {
    
    .info-post ul li.linha-data-autor-horario {

        border-right: 1px solid #cacaca;
    }
}


@media screen and (max-width: 950px){
    
    .info-post ul li.linha-data-autor-horario  {
        
        display: inline-block;
        float: left;
        border-right: 1px solid #cacaca;
    }
}

@media screen and (min-width: 951px){
    
    .info-post ul li p {
     
        display: inline-block;
        float: left;
     
    }
    
}

@media screen and (max-width: 950px){
    
    .info-post ul li p {

        display: flex;
        justify-content: center;
        padding-left: 6px;
        margin-right: 0px;
    }
}

@media screen and (min-width: 951px){

    .info-post ul li img {
        
        display: inline-block;
        float: left;
        margin-right: 10px;

    }
    
}

@media screen and (max-width: 950px){
    
    .info-post ul li img {
        
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* margin-left: 2px; */
    }

}
   
    .info-post ul li p strong {

        color: #f1f1f1;
    }

@media screen and (max-width: 950px){
    
    .info-post ul li p strong {
        
        float: left;
        color: #f1f1f1;
    }
}

@media screen and (min-width: 951px){
    
    .info-post ul li.share {
        
        margin: 0;
        padding-right: 0;
        float: right;
        padding-bottom: 18px;
        padding-top: 18px;
        margin-top: -62px;
    }
}

@media screen and (max-width: 950px) {
    
    .info-post ul li.share {
        
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px; 
        padding-bottom: 20px;
        border-top: 1px solid #ccc;
    }
    
}

@media screen and (min-width: 951px){
    
    .info-post ul li.share img {
        
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 65px;
    }
    
}

    
@media screen and (max-width: 950px){
    
    .info-post ul li.share img {

        padding-right: 5px;
    }
}


/*******************************************/


/* CONTEUDO PRINCIPAL - COMPOE TODO O CORPO DO SITE */

main {
    
    margin: auto;
    width: 940px;
}

@media screen and (max-width: 950px){
    
    main {

        width: 100%;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}



main article {
    
    margin: auto;
    width: 620px;
    font-size: 20px;
    text-align: left;
    font-family: 'Volkhov', serif;
    line-height: 30px;
    text-align: left;
    color: #cccc;
}

@media screen and (max-width: 950px){
    
    main article {
    
        width: 100%;
        font-size: 16px;
        text-align: left;
        line-height: 24px;
    }
    
}




main article p {
    
    padding-bottom: 40px;
}

@media screen and (max-width: 950px){
    
     main article p {
         
        padding-bottom: 40px;
    }
    
}


figcaption.texto-legenda {
    
    font-family: 'Open Sans', sans-serif;
}


/* design responsive*/





/* CONTEUDO - BLOQUOTE CITAÇÃO ESTILIZAÇÃO DOS PARAGRAFOS */

    article bloquote p {
        text-align: center;
        font-size: 30px;
        color: #f1f1f1;
        font-family: 'Volkhov', serif;
    }

@media screen and (max-width: 950px){
    
    article bloquote {
        
        margin: 0 auto;
        display: block;
        width: 100%;
        height: auto;
    }
    
     article bloquote p {
        
        font-size: 16px;
        padding: 13px;
    }
    
}

    .autor {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        font-size: 24px;
        text-align: center;
    }

@media screen and (max-width: 950px){
    
     .autor {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        font-size: 16px;
    }
}




    .aspas-noticia {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin: auto;
    }

@media screen and (max-width: 950px){
    
     
    .aspas-noticia {
        
        display: block;
        margin: 0 auto;
        width: 30%;
        height: auto;
        padding-bottom: 20px;
    }
    
}



    .aspas-noticia-baixo {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin: auto;
        padding-bottom: 20px;
    }

@media screen and (max-width: 950px){
    
      .aspas-noticia-baixo {
          
        display: block;
        margin: 0 auto;
        width: 30%;
        height: auto;
        padding-bottom: 40px;
    }
    
}


    .texto-citacao {
        
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
        text-align: center;
        padding-top: 20px;
    }

@media screen and (max-width: 950px){
    
    
    .texto-citacao {
        font-size: 24px;
        margin: 0 auto;
        display: block;

    }
}



    article p iframe {
        overflow: hidden;
        margin-left: -160px;
    }

@media screen and (max-width: 950px) {
    

    article p iframe {
        margin: 0;
        width: 100%;
        height: auto;
    }
    
}


   article p strong {
       
        color: #ffff;
    }






/* CSS PARA EDITAR ALGUMAS IMAGENS ESPECIFICAS DO SITE  */


/* FOTOS DA NOTICIA  E EDIÇÃO DO TEXTO DA NOTICIA */



    figure.imagem-centro-posicao {
        width: 940px;
        margin-left: -160px;
    }

@media screen and (max-width: 950px) {
    
     figure.imagem-centro-posicao {
         
        margin: auto;
        width: 100%;
        height: auto;
        padding-bottom: 40px;

    }
}



    .texto-legenda {
        width: 100%;
        font-size: 13px;
        border-bottom: solid 2px #9b9b9b;
        padding-top: 20px;
        padding-bottom: 20px;
        line-height: normal;
    }

@media screen and (max-width: 950px){
    
       

    .texto-legenda {
        
        width: 100%;
        height: auto;
        font-size: 12px;
    }
}



    .imagem-centro {
        display: block;
    }

@media screen and (max-width: 950px) {
    
    .imagem-centro {
        
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    
}


    .texto-noticia-detalhe {
        line-height: 20px;
        word-wrap: break-word;
    }


/***************************/


/* IMAGEM COM LEGENDA - NO DETALHE DA NOTICIA */


    .figure-1 {
        margin-left: -160px;
        width: 381px;
        float: left;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

@media screen and (max-width: 950px) {
    
      .figure-1 {
          
        margin: 0 auto;
        width: 100%;
        float: left;
        font-size: 12px;
    }
}



    .figure-1 img {
        
        width: 381px;
    }


@media screen and (max-width: 950px) {
    
    
    .figure-1 img {
        
        width: 100%;
        height: auto;
    }

}




    .figure-1 figcaption {
        
        width: 381px;
        padding-bottom: 20px;
        border-bottom: 1px solid #cacaca;
        line-height: normal;
    }

@media screen and (max-width: 950px) {
    
    
    .figure-1 figcaption {
        
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        margin-bottom: 40px;
    }

}



    .figure-1.direita {
        float: right;
        margin-left: 40px;
        margin-right: -160px;
    }

@media screen and (max-width: 950px) {
    
    
    .figure-1.direita {

        margin: 0 auto;
      
    }

}




/* design responsive imagem com legenda detalhe da noticia */

/*****************************/


/* FOOTER - PARTE FINAL DO SITE */



    footer {
        width: 100%;
        height: 800px;
        padding: 0 20px;
        background-image: url('../img/fundo-footer.png');
        background-size: cover;
        background-repeat: repeat-x;
        overflow: hidden;
    }

@media screen and (max-width: 950px) {
    
       footer {
           
        width: 100%;
        height: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
}



    .rodape-pagina {
        width: 620px;
        margin: auto;
    }

@media screen and (max-width: 950px) {
    
      .rodape-pagina {
          
        width: 100%;
    }
}



    footer ul li {
        
        padding: 8px;
        
    }

@media screen and (max-width: 950px) {
    

    footer ul li {
        
        padding: 10px;
    }
    
}



    footer .div-esquerda {
        width: 310px;
        float: left;
        background-size: cover;
        overflow: hidden;
        text-align: left;
    }


@media screen and (max-width: 950px) {
    
    

    footer .div-esquerda {
        
        width: 50%;
    }
    
}



    footer .div-direita {
        width: 310px;
        float: right;
        background-size: cover;
        overflow: hidden;
    }


@media screen and (max-width: 950px) {
    

    footer .div-direita {
        
        width: 50%;
        float: left;
    }
    
}



    .div-direita li {
        text-align: right;
        padding: 10px;
    }



    .div-direita .titulo {
        text-transform: uppercase;
        font-family: 'Volkhov', serif;
        font-size: 15px;
        color: #f1f1f1;
    }


@media screen and (max-width: 950px) {
    
    
    .div-direita .titulo {
  
        font-size: 12px;
    }
}


    .div-esquerda .titulo {

        text-transform: uppercase;
        font-family: 'Volkhov', serif;
        font-size: 15px;
        color: #f1f1f1;
    }


@media screen and (max-width: 950px) {
    
    
    .div-esquerda .titulo {
        
        font-size: 12px;
    }
    
}


    .div-esquerda .nome-titulo {
        font-family: 'Volkhov', serif;
        font-size: 13px;
        color: #cacaca;
        margin-top: -12px;
    }


@media screen and (max-width: 950px) {
    
    

    .div-esquerda .nome-titulo {
        
        font-size: 12px;
        margin-top: -12px;
    }
}



    .div-direita .nome-titulo {
        font-family: 'Volkhov', serif;
        font-size: 13px;
        color: #cacaca;
        margin-top: -12px;
    }


@media screen and (max-width: 950px) {
    
    

    .div-direita .nome-titulo {
        
        font-size: 12px;
    }
    
}



    #botoes-compartilhar {
        padding-top: 24px;
        padding-bottom: 125px;
        margin: 0 auto;
        text-align: center;
        overflow: hidden;
    }

/* CSS PARA BOTAO COMPARTILHAR NO FINAL DA NOTICIA */

main article div div.fb-like {
    
    width: 60px;
    padding-right: 13px;
    overflow: hidden;
}


/* design responsive do footer */




/* LOGOMARCA DOTHCOM BOTTOM */

    .div-meio {
        margin: auto;
        width: 100%;
        height: 100px;
        padding-left: 210px;
        padding-top: 210px;
        list-style: none;
        float: left;
        overflow: hidden;
    }

/* estilzando link de ancora no bootom do site */
    
    .div-meio span a {
        
        color: #cccc;
        text-decoration: none;

    }

@media screen and (max-width: 950px) {
    
    .div-meio {
        
        margin: auto;
        width: 100%;
        height: auto;
        padding-left: 40px;
        padding-top: 100px;
        list-style: none;
        float: left;
        overflow: hidden;

    }
    
}


    .div-meio ul li {
        font-family: 'Open sans', sans-serif;
        font-size: 13px;
        color: #cccc;
        list-style: none;
        display: inline-block;
        text-align: center;
        padding-right: 30px;
    }

@media screen and (max-width: 950px) {
    
    
    .div-meio ul li {
        margin: 0;
        font-size: 13px;
      
    }
}



    .div-meio ul li span {
        text-align: center;
    }


    .spacer10 {
        margin-top: 0;
        padding-bottom: 5px;
    }

    .spacer11 {
        padding-bottom: 5px;
    }


/* SLIDER SWIPER*/
    .swiper-container {
        
      width: 100%;
      height: auto !important;
    }
    .swiper-slide {
        
      height: auto !important;
     
    }

    .swiper-wrapper {
        
        position: relative !important;
    }

    div.swiper-slide img {
        
        -webkit-background-size: 100% 100% !important;
        -moz-background-size: 100% 100% !important;
        -o-background-size: 100% 100% !important;
        background-size: 100% 100% !important;
        width: auto;
        height: 100%;

    }

    .swiper-wrapper {
        
        position: relative !important;
    }

    div.swiper-slide.swiper-slide-prev {
        
        width: auto !important;
        height: auto;
        
    }

    div.swiper-slide.swiper-slide-next {
        
        width: auto !important;
        height: auto;
        
    }



        








